button, select {
    background-color: #b4b4b4;
}

button[data-theme=dark], select[data-theme=dark] {
    background-color: #4f4f4f;
}

input {
    box-sizing: border-box;
    background-color: white;
}

input[data-theme=dark] {
    background-color: #191919;
}

input[type="checkbox"] {
    margin: 0px;
}

label {
    user-select: none;
    margin-right: 20px;
}

.red-bg {
    background-color: #ff5656;
}

.red-bg[data-theme=dark] {
    background-color: #c80000;
}
