button, select {
    background-color: #b4b4b4;
    width: fit-content;
}

[data-theme=dark] button, [data-theme=dark] select {
    background-color: #4f4f4f;
}

input {
    box-sizing: border-box;
    background-color: white;
}

[data-theme=dark] input:not([type="checkbox"]) {
    background-color: #191919;
}

input[type="checkbox"] {
    margin: 0px;
}

label {
    user-select: none;
    margin-right: 20px;
}

.red-bg {
    background-color: #ff5656;
}

[data-theme=dark] .red-bg {
    background-color: #c80000;
}
